input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
    background-image: url("../img/soprabanking.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: white !important;
    box-shadow:none !important;
}

h1 {
    font-family: Tungsten Book;
    font-size: 70px;
    font-weight: 600 !important;
    line-height: 70px;
    text-align: center;
}

.container {
    background-color: black;
    max-width: 70% !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
}

.modal-content {
    background-color: #303030 !important;
    border: #999 solid 1px !important;
}

.close:not(:disabled):not(.disabled) {
    color: #fff !important;
}

.page-item.active .page-link {
    color: #f8981d !important;
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.page-link {
    color: black !important;
    background-color: #f8981d !important;
    border: 1px solid black !important;
    font-weight: 700 !important;
}

.page-item.disabled .page-link {
    color: #f8981d !important;
    background-color: #212529 !important;
    border: 1px solid #212529 !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    box-shadow:none !important;
}

.btn, .btn-warning {
    background-color: #f8981d !important;
    border-color: #f8981d !important;
}


input.form-control {
    box-shadow:none !important;
}

select.form-control {
    box-shadow:none !important;
}

a.page-link {
    box-shadow:none !important;
}

.title {
    display: inline-flex;
    padding: 5px;
    margin: auto;
    width: auto;
}

.pron  {
    padding: 5px;
    margin: ;
    padding: 3px;
}

.hub {
    /*background-color: #f8981d;*/
    /*background-image: linear-gradient(to right, red , #f8981d);*/
    border-radius: 7px;
    color: black;
    padding: 3px;
    margin-left: 5px;
}
