<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%;">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tournoi Babigital</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">

</head>
<body style="height:100%;">
<div class="container" style="height:100%;">
    <div style="text-align: center;display: flex;">
        <div class="animated tada title">
            <h1 class="pron">Tournoi</h1>
            <h1 id="hub" onclick="pronify()" style="background-image: linear-gradient(to right, #cf002a , #ee7a00);" class="hub">Babigital</h1>
        </div>
        <div style="position: relative; top: 10px; right: 0px;">
            <button type="button" class="btn btn-warning" onclick="location.href='/'" title="Matchs et scores">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Matchs
            </button>
        </div>
    </div>
    <iframe th:src="@{https://challonge.com/fr/__${tournamentId}__/module}" width="100%" style="height: calc(100% - 115px);" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
</div>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
