<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tournoi Babigital</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">

</head>
<body>
<div class="container">
    <div style="text-align: center;display: flex;">
        <div class="animated tada title">
            <h1 class="pron">Tournoi</h1>
            <h1 id="hub" onclick="pronify()" style="background-image: linear-gradient(to right, #cf002a , #ee7a00);" class="hub">Babigital</h1>
        </div>
        <div style="position: relative; top: 10px; right: 10px;">
            <button type="button" class="btn btn-warning" title="Règles" data-toggle="modal" data-target="#rulesModal">
                <i class="fa fa-book" aria-hidden="true"></i>
                Règles
            </button>
        </div>
        <div style="position: relative; top: 10px; right: 0px;">
            <button type="button" class="btn btn-warning" onclick="location.href='/challonge'"
                    title="Classement et phases">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                Classement
            </button>
        </div>
    </div>
    <table id="matches" class="table table-bordered table-striped table-dark" style="width:100%;">
        <thead style="text-align:center;">
        <tr>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Vainqueur</th>
            <th>Scores</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="match">
        <tr th:each="match : ${matchs}">
            <td th:utext="${match.participant1.name}">...</td>
            <td th:utext="${match.participant2.name}">...</td>
            <td th:utext="${match.winner_id}">...</td>
            <td th:utext="${match.scores}" style="text-align:center;">...</td>
            <td>
                <div style="text-align:center">
                    <button th:disabled="${match.winner_id != null}" th:attr="data-participant1-name=${match.participant1.name}, data-participant2-name=${match.participant2.name},
                     data-participant1-id=${match.participant1.id}, data-participant2-id=${match.participant2.id},
                     data-match-id=${match.id}, data-match-tournament-id=${match.tournamentId}, data-target='#scoresModal'"
                            type="button" data-toggle="modal" class="btn btn-warning" title="Rapporter les scores">
                        <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="scoresModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Rapporter les scores</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form id="saveForm" action="#" th:action="@{/save}" th:object="${matchToSave}" method="post">
                    <input type="hidden" id="matchToSaveId" th:field="*{id}">
                    <input type="hidden" id="matchToSaveTournamentId" th:field="*{tournamentId}">
                    <input type="hidden" id="matchToSaveParticipant1Id" th:field="*{participant1.id}">
                    <input type="hidden" id="matchToSaveParticipant2Id" th:field="*{participant2.id}">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="participant1Score" class="col-sm-8 col-form-label"
                                   id="participant1Name"></label>
                            <div class="col-sm-4">
                                <input type="number" max="10" class="form-control" id="participant1Score"
                                       th:field="*{participant1.score}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="participant2Score" class="col-sm-8 col-form-label"
                                   id="participant2Name"></label>
                            <div class="col-sm-4">
                                <input type="number" max="10" class="form-control" id="participant2Score"
                                       th:field="*{participant2.score}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-warning">ENVOYER LES SCORES</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rulesModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Règles</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p th:object="${tournamentParent}" th:utext="*{description}"></p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
