<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Babigital Tournament</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>Babigital Tournament</h1>
            <input class="form-control" id="search" type="text" placeholder="Search...">
            <div class="table-responsive">
                <table id="matches" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Match ID</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Winner</th>
                        <th>Scores</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="match">
                        <tr th:each ="match : ${matchs}">
                            <td th:utext="${match.id}">...</td>
                            <td th:utext="${match.participant1.name}">...</td>
                            <td th:utext="${match.participant2.name}">...</td>
                            <td th:utext="${match.winner_id}">...</td>
                            <td th:utext="${match.scores}">...</td>
                            <td>
                                <a class="btn btn-primary" href="#" th:onclick="'alert(\'' + ${match} + '\');'">
                                    <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/js/index.js}"></script>
    </body>
</html>
